.wrapper-header {
  border-bottom: 1px solid var(--hover-bg-color);
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: var(--main-bg-color);
  padding: 20px 10px;
  margin-bottom: 20px;
}

/* Style the header links */
.wrapper-header a {
  float: left;
  color: var(--header-text-color);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.wrapper-header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.wrapper-header a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

/* Style the active/current link*/
/*.wrapper-header a.active {*/
/*  background-color: dodgerblue;*/
/*  color: white;*/
/*}*/

/* Float the link section to the right */
.header-right {
  justify-content: flex-end;
}
