#icon-users {
  fill: var(--bt-create-hover-color);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-navigation {
  background: lavender;
  display: flex;
  justify-content: center;
  width: 100%;
}

.employee {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: var(--white-color);
  border-top: 20px solid var(--main-bg-color);
  border-right: 10px solid var(--main-bg-color);
  border-bottom: 20px solid var(--main-bg-color);
  border-left: 10px solid var(--main-bg-color);
  border-radius: 4px;
  box-shadow: 0 15px 15px rgba(10,16,20,.24), 0 0 10px rgba(10,16,20,.12);
  margin-bottom: 20px;
  transition: box-shadow .5s;
  height: 100vh;
  position: relative;
}

.wrapper-to-btn {
  display: flex
}

.heading {
  text-align: center;
  margin: 10px 10px 0;
  font-size: 30px;
  font-style: italic;
  width: 90%;
}

.new-employee-btn {
  border: none;
  background: transparent;
}

.svg-new-employee {
  height: 30px;
  width: 30px;
  margin: 10px 20px 10px;
  fill: var(--main-bg-color);
}

.svg-new-employee:hover {
  fill: var(--bt-create-hover-color);
}

.primary-button {
  background-color: #6e6e6e;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 1em;
}

/*Create  new employee form*/
.wrapper-create-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 5px;
  position: absolute;
  top: 0;
  z-index: 1;
  background: white;
  width: 100%;
  height: inherit;
}

.create-form {
  border: none;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.invisible {
  display: none;
}

.create-button,
.cancel-button {
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: auto auto 10px;
  border: none;
  background-color: cadetblue;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  transition: box-shadow .5s;
}

.create-holidays-btn:hover,
.create-button:hover {
  box-shadow: 0 0 0 2px cadetblue inset, 0 0 0 4px white inset;
  transition: 0.4s ease-out;
}

.cancel-button:hover {
  box-shadow: 0 0 0 2px red inset, 0 0 0 4px white inset;
  transition: 0.4s ease-out;
}

.cancel-button {
  background-color: var(--red-color);
  min-width: 90px;
  margin-left: 5px;
}

.create-button {
  min-width: 90px;
  margin-right: 5px;
}

.change-information {
  margin: 0 10%;
  width: 80%;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media only screen and (min-width: 768px) {
  .wrapper-navigation {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    background-color: lavender;
  } 

  .employee {
    flex-grow: 0;
    margin: 0 auto;
    width: 50%;  
  }

  form {
    margin-top: 50px;
  }
}