.wrapper {
  display: flex;
}

.employee {
  background-color: var(--main-bg-color);
  flex-grow: 1;
}

.all-workers {
  margin: 10px;
}

legend {
  margin-left: 15%;
}

legend > span {
  font-size: 1.5em;
  color: var(--white-color);
}

.wrapper-lists {
  background-color: var(--component-bg-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;

}

#name{
  background-color: var(--white-color);
  flex-basis: 50%;
  margin: 3%;
  height: 2em;
  width: 50%;
}

.create-button {
  background-color: var(--bt-create-color);
  border: none;
  border-radius: 20px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 1em;
  height: 30px;
  margin: 3%;
  padding: 0 5px;
  width: 100px;
}

.create-button:hover {
  background-color: var(--bt-create-hover-color);
  transition: 0.4s ease-out;
}

.current-employees {
  list-style-type: none;
}

.name-list {
  color: var(--black-color);
  font-size: 1.3em;
  list-style-type: none;
  margin: 5% 0 5% 10%;
}

.name-list:last-child {
  margin-bottom: 10%;
}

.name-list:hover {
  background-color: var(--main-bg-color);
  color: var(--white-color);
}
