<div class="wrapper">
  <app-admin></app-admin>
  <main class="employee">
    <form>
      <fieldset class="all-workers">
        <legend><span>Employees</span></legend>
        <div class="bg-wrapper">
          <app-employees-list [employees]="employees" 
                              [clicable]="true">
          </app-employees-list>
          <button type="submit" class="added-button primary-button" (click) = "toggleShowCreateForm()">Add</button>
        </div>
      </fieldset>
    </form>
    
    <div class="wrapper-create-form" [hidden] = "showCreateForm">
    <form action="" method="post">
      <fieldset class="create-form animate" [formGroup]="createEmployee">
        <legend><span>Create new employee</span></legend>
          <label for="employee">Employee name:</label>
          <input formControlName="employeeName" [(ngModel)]="createNewEmployee.employeeName"
                 type="text" placeholder="Enter employee name" name="employee" id="employee" title="Enter name" autofocus required>
          <label for="colorPicker">Employee color:</label>
          <input formControlName="colorCode" type="color" id="colorPicker" title="Click on the line and set the color"
                 [(ngModel)]="createNewEmployee.colorCode" required>
        <button  (click)="addEmployee()" class="create-button primary-button">Create</button>
        <button class="cancel-button primary-button" (click)="toggleShowCreateForm()">Cancel</button>
      </fieldset>
    </form>
    </div>
  </main>
</div>
