#icon-stack {
  fill: var(--bt-create-hover-color);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-navigation {
  background: lavender;
  display: flex;
  justify-content: center;
  width: 100%;
}


/*Employee list*/

.wrapper-employee-list-block {
  display: block;
  margin: 10px 10px 0;
  /*width: 100%;*/
}

.employee-list-block {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.employee-list-block:before {
  content: 'Tryk for at vælge medarbejder';
  background-color: lightseagreen;
  display: flex;
  justify-content: flex-end;
  padding: 2px 10px;
  font-weight: bold;
  font-style: italic;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title-list {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-left: 3px solid lightseagreen;
  border-right: 3px solid lightseagreen;
  border-bottom: 3px solid lightseagreen;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  position: relative;
}

.title-list:after {
  content: '';
  background-image: url("../../../assets/images/arrow-up2.svg");
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 7px;
  right: 7px;
}

.arrow:after {
  content: '';
  background-image: url("../../../assets/images/arrow-down2.svg");
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 7px;
  right: 7px;
}

.wrapper-employee-list {
  border-left: 3px solid lightseagreen;
  border-right: 3px solid lightseagreen;
  border-bottom: 3px solid lightseagreen;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.invisible {
  display: none;
}

.app-calendar {
  margin: 0 auto;
  width: 100%;
}

/*Employee tasks list*/

.weektask-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.dayOfWeek {
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px;
}
.pastDayOfWeek {
  border-radius: 5px;
  border: 2px solid black;
  margin: 10px;
  background: #e2e0e0;
}

.day {
  display: block;
  text-align: center;
  padding: 5px 0;
  background: cadetblue;
}

.tasks-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  list-style: none;
  
}

.task {
  padding: 2px;
  border: 1px solid black;
  margin: 3px;
  border-radius: 5px;
}

.complete {
  background: chartreuse;
}

.day-of-week {
  border: 2px solid #808080;
  margin: 10px 0;
}

.day-name {
  background-color: #808080;
  color: #000000;
  font-size: 16px;
  display: block;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .wrapper-navigation {
    padding-bottom: 10px;
  }

  .employee-list-block {
    background: var(--white-color);
    max-width: 768px;
    margin: 10px auto 0;
    width: 100%;
  }

  .dayOfWeek {
    display: flex;
  }
  .pastDayOfWeek {
    display: flex;
  }

  .day {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    flex: 0 0 25%;
  }

  .wrapper-lists {
    margin: 0 auto;
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    background-color: lavender;
  }
}
