.header-login {
  display: none;
}

.wrapper-login {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-content {
  max-width: 450px;
  margin: 0 30px;
}

.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  font-family: var(--font-AHs);
  letter-spacing: 3px;
  margin: 0 auto;
  text-transform: uppercase;
}

input[type=text], 
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid var(--main-bg-color);
    box-sizing: border-box;
  }
  
  .button {
    font-size: 16px;
    height: 40px;
    border: none;
    background-color: var(--red-color); 
    box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    transition: box-shadow .5s;
    margin-top: 5px;
  }
  
  .button:hover {
    transition: all 1s ease 0s;
    border: 10px solid var(--main-bg-color);
    background: var(--main-bg-color);
  }
  