<div class="wrapper-login">
  <form class="modal-content" action="/action_page.php" method="post">
    <div class="container">
      <div *ngIf="loginError" class="error-message">Brugernavn eller adgangskode er forkert</div>
      <label for="uname">Brugernavn</label>
      <input type="text" [(ngModel)]="login" placeholder="Angiv brugenavn" name="uname" required>
      <label for="psw">Kodeord</label>
      <input type="password" [(ngModel)]="password" placeholder="Angiv kodeord" name="psw" required>
      <button class="button" type="submit" (click) = "doLogin()"><span>Login</span></button>
    </div>
  </form>
</div>

