  .wrapper-tasks {
    display: inline-block;
    padding: 10px;
    margin: 10px;
  }
  
  .wrapper-tasks > div {
    display: flex;
    flex-direction: column;
  }
  
  .current-tasks {
    list-style-type: none;
  }
  
  .task-list {
    color: var(--black-color);
    display: flex;
    font-size: 1em;
    list-style-type: none;
    padding: 10px;
  }
  
  .task-list:last-child {
    margin-bottom: 10%;
  }
  
  .task-list:hover {
    background-color: rgba(25,118,210,.1);
    color: var(--main-bg-color);
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    transition: box-shadow .5s;
  }
 