.wrapper-planner {
    display: flex;
    flex-wrap: wrap;
}

.current-date {
    background-color: brown;
    width: 100%;
}

.time-line {
    background-color: green;
    width: 100%
}

.wrapper-employee-tasks {
    background-color: var(--component-bg-color);
    display: flex;
    width: 50%;
}

.wrapper-task-list {
    display: flex;
    flex-grow: 1;
    background-color: var(--component-bg-color);
}

.default {
    flex-grow: 1;
}

.active {
    background-color: green;
}
