.wrapper-admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0;
}

.card {
  width: 130px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  transition: box-shadow .5s;
  margin: 10px;
  max-width: 250px;
}

.card:hover {
  box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
}

.card:hover .svg-size {
  fill: var(--main-bg-color);
}

.card:hover .card-footer {
  
    background-color: rgba(25,118,210,.1);
    color: var(--main-bg-color);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 0;
}

.svg-size {
  height: 35px;
  width: 35px;
}

.card-footer {
  font-size: 16px;
  bottom: 0;
  border-top: .5px solid #dbdbdb;
  position: relative;
  text-align: right;
  color: #6e6e6e;
  padding: 10px 16px;
  margin: 10px 0 0;
}
