.wrapper-admin {
  display: flex;
  flex-basis: 25%;
}

/* The sidebar menu */
.sidenav {
  background-color: #111; /* Black */
  height: 100vh;
}

/* The navigation menu links */
.sidenav a {
  display: flex;
  flex-direction: column;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
//display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  flex-grow: 1;
  background-color: teal;
}
