.wrapper-admin {
  background-color: var(--main-bg-color);
  display: flex;
  flex-basis: 25%;
}

fieldset {
  margin: 10px;
}

legend {
  margin-left: 5%;
}

legend > span {
  font-size: 1.5em;
  color: var(--white-color);
}

/* The sidebar menu */
.sidenav {
  background-color: var(--component-bg-color);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  /*min-height: 72vh;*/
  padding: 10px;
  margin: 10px;
  /*position: relative;*/
}

/* The navigation menu links */
.sidenav a {
  display: flex;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--black-color);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: var(--main-bg-color);
  color: var(--white-color);
}

/* Style page content */
/*.main {*/
/*  flex-grow: 1;*/
/*  background-color: teal;*/
/*}*/
