#icon-users {
  fill: var(--bt-create-hover-color);
}

.wrapper-navigation {
  background: lavender;
  display: flex;
  justify-content: center;
  width: 100%;
}

.employee-details {
  border-top: 20px solid var(--main-bg-color);
  border-right: 10px solid var(--main-bg-color);
  border-bottom: 20px solid var(--main-bg-color);
  border-left: 10px solid var(--main-bg-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.heading {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 30px;
  font-style: italic;
  border-bottom: 1px solid black;
}

.current-user-information {
  display: flex;
}

.wrapper-lists-info {
  width: 100%;
}

.info {
  display: flex;
  font-size: 16px;
  margin: 10px 0px;
  padding: 0 10px;
}

 h3.info{
   display: block;
   text-align: center;
   font-size: 22px;
   margin-top: 10px;
 }

 #color {
  margin-left: 20px;
  height: 1em;
  width: 1em;
}

.date-from,
.date-to {
  padding-left: 10px;
}

.date {
  margin: 0 5px;
  padding-left: 5px;
}

.delete-holiday-btn {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.svg-icon-bin  {
  height: 20px;
  width: 20px; 
  fill: red;
}

.change-user-information {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.user-change-options {
  list-style: none;
  width: 90%;
}

.option-item {
  padding: 5px 20px;
  font-size: 16px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5px;
}

.option-item:last-child {
  margin-bottom: 20px;
}

.title-item {
  display: flex;
  justify-content: space-between;
}

.title-item::after {
  content: '';
  background-image: url(src/assets/images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 15px;
  height: 15px;
}


.wrapper-create-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  border-radius: 5px;
  margin-top: 10px;
}

.invisible {
  display: none;
}

.holidays {
  text-align: center;
  padding: 5px 0px;
}

.holidays-title,
.changes-title {
  text-align: center;
}

mat-form-field {
  margin: 10px auto 0;
}

mat-datepicker-toggle-default-icon ng-star-inserted {
  height: 30px;
  width: 30px;
}

.create-holidays-btn,
.create-button,
.cancel-button {
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: auto auto 10px;
  border: none;
  background-color: cadetblue;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
  transition: box-shadow .5s;
}

.create-holidays-btn:hover,
.create-button:hover {
  box-shadow: 0 0 0 2px cadetblue inset, 0 0 0 4px white inset;
  transition: 0.4s ease-out;
} 

.cancel-button:hover {
  box-shadow: 0 0 0 2px red inset, 0 0 0 4px white inset;
  transition: 0.4s ease-out;
}

.create-form {
  border: none;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  width: 100%;
}

.change-information {
  margin: 0 10px;
}

.cancel-button {
  background-color: var(--red-color);
  min-width: 90px;
  margin-left: 5px;
}

.create-button {
  min-width: 90px;
  margin-right: 5px;
}

/* Checkbox style*/
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 20px;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}
/* Finish checkbox style*/


@media only screen and (min-width: 768px) {

  .wrapper-navigation {
    padding-bottom: 10px;
  }

  .employee-details {
    display: flex;
    flex-wrap: wrap;
  }

  .heading {
    flex: 0 0 97%;
  }

  .current-user-information,
  .change-user-information {
    flex: 0 0 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    background-color: lavender;
    height: 100vh;
  }

  .employee-details {
    background: var(--white-color);
    margin: 0px auto 10px;
    max-width: 1024px;
    width: 100%;
  }
}