.wrapper {
  display: flex;
 }

.main-wrapper {
  display: flex;
  background-color: #f0f0f0;
  min-height: calc(100vh - 100px);
 }

.wrapper-fieldset {
  margin-top: 2%;
  margin-bottom: 5%;
}

.fieldset-1 {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-input {
  flex: 100%;
}

.wrapper-legend-employee,
.wrapper-legend-employee-vacation {
  margin-left: 5%;

}

.wrapper-legend-employee > span {
  color: #000000;
  font-size: 1.5em;
}

.employee-list {
  display:flex;
  padding-left: 20px;
  width: 50%;
}
.employee-name {
  width: 40%;
}

#name {
  background-color: #ffffff;
  border: none;
  margin: 3%;
  height: 30px;
  width: 40%;
}

.create-button {
  background-color: steelblue;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 1em;
  height: 30px;
  padding: 0 5px;
  width: 100px;
}

.create-button:hover {
  background-color: green;
  transition: 0.4s ease-out;
}

.name-list {
  list-style-type: none;
  line-height: 20px;
  padding: 5px 0 0 10px;
  margin: 20px 0 20px 50px;
  border-bottom: 1px solid blue;
  border-left: 1px solid blue;
  width: 150%;
}

.name-list:hover {
  background-color: lightslategray;
  font-weight: 600;
  border-top: 1px solid blue;
  border-right: 1px solid blue;
}

.fieldset-2 {
  margin-left: 5%;
  width: 40%;
}

.wrapper-fieldset-vacation {
  margin-left: 50px;
}

.wrapper-legend-employee-vacation > span{
  color: #000000;
  font-size: 1.1em;
}

.wrapper-list {
  margin: 10px;
}

.name-list-vacation {
  list-style-type: none;
  line-height: 20px;
  padding: 5px 0 0 10px;
  margin: 20px;
  border-bottom: 1px solid red;
  border-right: 1px solid red;
  width: auto;
}

.name-list-vacation:hover {
  background-color: lightslategray;
  font-weight: 600;
  border-top: 1px solid red;
  border-left: 1px solid red;
}
