  .wrapper-lists {
    display: flex;
  }

  .current-employees {
    list-style-type: none;
    width: 100%;
  }
  
  .name-list {
    color: var(--black-color);
    display: flex;
    font-size: 1em;
    list-style-type: none;
    margin: 10px 20px 10px 20px;
    background-color: rgba(25,118,210,.1);
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    transition: box-shadow .5s;
  }
  
  .name-list:hover {
    border: none;
    background-color: cadetblue;
    border-radius: 5px;
    box-shadow: 0 0 0 2px cadetblue inset, 0 0 0 4px white inset;
    transition: 0.4s ease-out;
    }

  .show-color {
    width: 1em;
    height: 1em;
    margin: auto 5px auto 15px;
    text-align: center;
  }

  .active {
    border: none;
    background-color: cadetblue;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgb(236, 136, 5)  inset, 0 0 0 4px white inset;
    transition: 0.4s ease-out;
}

.link {
  text-decoration: none;
  color: var(--black-color);
  padding: 10px;
  flex-grow: 1;
}