<nav class="navigation">
    <ul class="list-options">
        <li class="option">
          <a class="link" routerLink="/Planner">
            <svg class="svg-size">
              <use xlink:href="#icon-calendar"/>
            </svg>  
            <p class="card-footer">Planner</p>
          </a>
        </li>
        <li class="option">
          <a class="link" routerLink="/Employees">
            <svg class="svg-size" >
              <use xlink:href="#icon-users"/>
            </svg>
            <p class="card-footer">Employees setting</p>
          </a>
        </li>
        <li class="option">
          <a class="link" routerLink="/Tasks">
            <svg class="svg-size">
              <use xlink:href="#icon-list-numbered"/>
            </svg>
            <p class="card-footer">Task settings</p>
          </a>
        </li>
        <li class="option">
          <a class="link" routerLink="/#">
            <svg class="svg-size">
              <use xlink:href="#icon-list-numbered"/>
            </svg>
            <p class="card-footer">Task settings</p>
          </a>
        </li>
    </ul>
  </nav>
